html{
    font-family: Source Sans Pro,sans-serif;
}

header, main, footer {
    padding-left: 300px;
    font-size: 15px;
}
body{
    background-color: #fafafa
}
@media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    #content{
        padding: 0 10px 0px 10px;

    }
    table{
        font-size: 15px;
    }
    th{
        padding: 5px 5px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 2px;
    }
    td{
        padding: 5px 5px;
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        border-radius: 2px;
    }
    .btn {
        text-transform: none;
    }
    .btn-small{
        text-transform: none;
    }
    .tabs .tab a:hover, .tabs .tab a.active{
        color: #1b1b1b;
        text-transform: none;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active{
        background-color: #cfd8dc;
    }
    .tabs .tab a{
        color: #1b1b1b;
        text-transform: none;
    }
    .tabs .indicator {
        background-color:#1565C0;
    }
    .input-field input{
        font-family: Source Sans Pro,sans-serif;
       font-size: 16px;
    }
    .input-field input:focus + label {
       color: #00796b !important;

     }
     .row .input-field input:focus {
       border-bottom: 1px solid #00796b !important;
       box-shadow: 0 1px 0 0 #00796b !important;
     }

    .dropdown-content li>span {
      color: #000;
    }
    .autocomplete-content li .highlight {
      color: red!important;
    }
    h5{
        font-size: 18px;
        font-weight: 500;
    }

    .vertical-align-middle {
        vertical-align: middle;
        font-size: 15px;
    }

    .padding-bottom-3 {
        padding-bottom: 3px;
    }
    .row{
        margin-bottom: 0px;
    }
    .card .card-content{
        padding: 24px 24px 0px 24px;
    }
    .row_header{
        border-bottom: 1px solid;
        border-bottom-color: #ddd;
    }
    .left_header{
        float: left;
        padding: 0px 5px 5px 5px;
    }
    .right_header{
        float: right;
        padding: 0px 5px 5px 5px;
    }
    .tap-target{
        border-radius: 0px;
    }
    .tap-target-content{
        vertical-align: top;
        width: auto;
        height: auto;
    }
    .modal.bottom-sheet{
        max-height: 80%;
    }
    .card .card-title{
        font-size: 1.125rem;
    }
    .sidenav li>a{
        color: #ffffff;
        font-size: 15px;
    }
    .sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons{
        color: #ffffff;
    }

    .dropdown-content li>a, .dropdown-content li>span{
        font-size: 16px;
        color: #757575;
    }

    .dropdown-content .dropdown-content {
       position: absolute;
       left: 180;
    }

.c-divider.has-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: transparent;
}
.u-mb-medium {
    margin-bottom: 1.875rem!important;
}
.c-divider {
    display: block;
    position: relative;
    height: 1px;
    background-color: #dfe3e9;
    color: #7f8fa4;
    font-size: .75rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.c-divider.has-text:after, .c-divider.has-text:before {
    width: 42%;
    height: 1px;
    background-color: #dfe3e9;
    content: "";
}
.c-divider.has-text:after, .c-divider.has-text:before {
    width: 42%;
    height: 1px;
    background-color: #dfe3e9;
    content: "";
}

.text_top{
    position: absolute;
    top: 27;
    color:white;
    font-size:calc(2vw + 2vh);
    font-weight: bold;
    left: calc(5vw + 5vh);
}

.jenis_program{
    position: absolute;
    top: 20;
    left: calc(5vw + 5vh);
    color: white;
    font-size: calc(0.7vw + 0.7vh);
}

.bottom_text_a{
    bottom: calc(0.01vw + 0.01vh);
    font-size: calc(0.6vw + 0.6vh);
    color: #fce4ec;
    padding-left: 5px;
    font-weight: normal;
}

.bottom_text_b{
    position: absolute;
    bottom: calc(1.8vw + 1.8vh);
    font-size: calc(0.6vw + 0.6vh);
    color: #f5f5f5;
    left: calc(5vw + 5vh);
}

.bottom_text_c{
    position: absolute;
    bottom: calc(1.1vw + 1.1vh);
    font-size: calc(0.5vw + 0.5vh);
    color: #f5f5f5;
    font-style: italic;
    left: calc(5vw + 5vh);
}

ul.stepper.horizontal {
   height: auto;
}
.bold-text{
    font-weight: bold;
}

.msg {
  width:100%;
  padding:10px;
  margin-bottom: 10px;
  color: grey;
}
.msg-error {
  // rouge
  border-color: #d32f2f;
  background-color: #f44336;
  color: white;
}
.msg-alert {
  //orange
   border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}

.msg-info{
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}

.progres_persen{
    position: absolute;
    left:0;
    padding-top: calc(0.25vw + 0.25vh);
    top:calc(4vw + 4vh);
    color:white;
    font-weight: bold;
    font-size:calc(1.8vw + 1.8vh);
    text-align: center;
    width: 100%;
    color:white;
}
.progres_total{
    position: absolute;
    top:calc(6.4vw + 6.4vh);
    left:0;
    font-size:calc(0.7vw + 0.7vh);
    text-align: center;
    width: 100%;
}
.progres_last_update{
    position: absolute;
    top:calc(7.3vw + 7.3vh);
    left:0;
    font-style: italic;
    font-size:calc(0.5vw + 0.5vh);
    text-align: center;
    width: 100%;
}
.progres_name{
    left:0;
    font-size:calc(0.55vw + 0.55vh);
    text-align: center;
    width: 100%;
    color:white;
}
.progres_card_content{
    height: calc(8.5vw + 8.6vh);
}

#progres_first_col{
    padding: 5px;
    margin-right: 20px;
    margin-left: calc(2.1vw + 2.1vh);
}

.dashboard_count{
    position: absolute;
    padding-right: calc(0.5vw + 0.5vh);
    top: 0;
    right:0;
    margin-left: calc(3vw + 3vh);
    font-size: calc(0.8vw + 0.8vh);
    font-weight: normal;
    color: #616161;
}

@media only screen and (max-width: 600px) {

    .row .col{
        padding: 0 .2rem;
    }
    .text_top{
        top: 20;
        left: calc(5.5vw + 5.5vh);
    }

    .jenis_program{
        top: 16;
        left: calc(5.5vw + 5.5vh);
    }

    .bottom_text_b{
        left: calc(6.5vw + 6.5vh);
        bottom: calc(2.2vw + 2.2vh);
        font-size: calc(0.7vw + 0.7vh);
    }

    .bottom_text_c{
        font-size: calc(0.6vw + 0.6vh);
        color: #f5f5f5;
        font-style: italic;
        left: calc(5.5vw + 5.5vh);
    }

    .progres_persen{
        padding-top: calc(0.25vw + 0.25vh);
        top:calc(5vw + 5vh);
    }

    .progres_card_content{
        height: calc(10.3vw + 10.3vh);
    }

    .progres_total{
        top:calc(7.5vw + 7.5vh);
        font-size:calc(1vw + 1vh);
    }

    .progres_last_update{
        top:calc(8.6vw + 8.6vh);
        font-size:calc(0.8vw + 0.8vh);
    }

    .progres_name{
        font-size:calc(1vw + 1vh);
    }

    #progres_first_col{
        margin-left: 0;
    }

    .dashboard_count{
        position: absolute;
        margin-left: calc(1.95vw + 1.95vh);
    }
}

.avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;

    object-fit: cover;
}
.noscroll { position: fixed; overflow-y:scroll }
